{% from '_macros/action_buttons.html.twig' import action_buttons %}
﻿{% extends 'base.html.twig' %}

{% block title %}Necessaire index{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Nécessaires</h1>
        <a href="{{ path('app_necessaire_new') }}" class="btn btn-success" style="font-size: 16px; padding: 10px 20px;">+ Créer</a>
    </div>

    <a href="{{ path('app_necessaire_inactif') }}" class="btn btn-warning" style="margin-bottom: 15px;">Consulter les nécessaires désactivés</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for necessaire in necessaires %}
            <tr>
                <td>{{ necessaire.id }}</td>
                <td>{{ necessaire.nom }}</td>
                <td>{{ necessaire.code }}</td>
                <td>{{ necessaire.typeNecessaire ? necessaire.typeNecessaire.nom : '' }}</td>
                <td>

                    {{ action_buttons('app_necessaire_show', 'app_necessaire_edit', necessaire.id) }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
