{% extends 'base.html.twig' %}

{% block title %}Site Client{% endblock %}

{% block body %}
    <h1>Site Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sites_client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sites_client.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sites_client_index') }}">retour à la liste</a>

    <a href="{{ path('app_sites_client_edit', {'id': sites_client.id}) }}">modifier</a>

    {{ include('sites_client/_delete_form.html.twig') }}
    
    <section class="dashboard-actions">
    <a class="dashboard-action" href="{{ path('app_intervention_new') }}">
        <strong>Ajouter une intervention</strong>
        <span>Créer une nouvelle intervention.</span>
    </a>
    </section>
{% endblock %}
