{% extends 'base.html.twig' %}

{% block title %}TypeSupport{% endblock %}

{% block body %}
    <h1>TypeSupport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_support.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_support.nom }}</td>
            </tr>
            <tr>
                <th>Picto</th>
                <td>{{ type_support.picto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_support_index') }}">back to list</a>

    <a href="{{ path('app_type_support_edit', {'id': type_support.id}) }}">edit</a>

    {{ include('type_support/_delete_form.html.twig') }}
{% endblock %}
