{% extends 'base.html.twig' %}

{% block title %}Zones Client{% endblock %}

{% block body %}
    <h1>Zones Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zones_client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zones_client.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_zones_client_index') }}">retour à la liste</a>

    <a href="{{ path('app_zones_client_edit', {'id': zones_client.id}) }}"></a>

    {{ include('zones_client/_delete_form.html.twig') }}
{% endblock %}
