{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumVersion</th>
                <th>DateCreation</th>
                <th>DateModificaion</th>
                <th>NbTravailleur</th>
                <th>DureeHeure</th>
                <th>DureeMinute</th>
                <th>Redacteur</th>
                <th>ZonesClient</th>
                <th>Contrat</th>
                <th>Actions</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.numVersion }}</td>
                <td>{{ intervention.dateCreation ? intervention.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.dateModificaion ? intervention.dateModificaion|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.nbTravailleur }}</td>
                <td>{{ intervention.dureeHeure }}</td>
                <td>{{ intervention.dureeMinute }}</td>
                <td>{{ intervention.redacteur ? intervention.redacteur.id : '' }}</td>
                <td>{{ intervention.zonesClient ? intervention.zonesClient.id : '' }}</td>
                <td>{{ intervention.contrat ? intervention.contrat.id : '' }}</td>
                <td>
                    {% if intervention.actions is not empty %}
                        {{ intervention.actions|length }} action(s)
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">Afficher</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Creer</a>
{% endblock %}
