{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>NumVersion</th>
                <td>{{ intervention.numVersion }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ intervention.dateCreation ? intervention.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateModificaion</th>
                <td>{{ intervention.dateModificaion ? intervention.dateModificaion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbTravailleur</th>
                <td>{{ intervention.nbTravailleur }}</td>
            </tr>
            <tr>
                <th>DureeHeure</th>
                <td>{{ intervention.dureeHeure }}</td>
            </tr>
            <tr>
                <th>DureeMinute</th>
                <td>{{ intervention.dureeMinute }}</td>
            </tr>
            <tr>
                <th>Redacteur</th>
                <td>{{ intervention.redacteur ? intervention.redacteur.id : '' }}</td>
            </tr>
            <tr>
                <th>ZonesClient</th>
                <td>{{ intervention.zonesClient ? intervention.zonesClient.id : '' }}</td>
            </tr>
            <tr>
                <th>Contrat</th>
                <td>{{ intervention.contrat ? intervention.contrat.id : '' }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    {% if intervention.actions is not empty %}
                        <ul>
                            {% for action in intervention.actions %}
                                <li>
                                    <a href="{{ path('app_actions_show', {'id': action.id}) }}">
                                        Action #{{ action.id }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Aucune action
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intervention_index') }}">Retour a la liste</a>

    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
