{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Produit</h1>
        <a href="{{ path('app_produit_new') }}" class="btn btn-success" style="font-size: 16px; padding: 10px 20px;">+ Créer</a>
    </div>

    <a href="{{ path('app_produit_inactif') }}" class="btn btn-warning" style="margin-bottom: 15px;">Consulter les produits désactivés</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Couleur</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.code }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.couleur }}</td>

                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Afficher</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
