{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit {{ include('produit/_deactivate_form.html.twig') }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ produit.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ produit.couleur }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
{% endblock %}
