{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.code) }}
    {% if form.pictoFile is defined %}
        {{ form_row(form.pictoFile) }}
    {% else %}
        {{ form_row(form.picto) }}
    {% endif %}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
