{% extends 'base.html.twig' %}

{% block title %}MoyenDosage index{% endblock %}

{% block body %}
    <h1>MoyenDosage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Picto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moyen_dosage in moyen_dosages %}
            <tr>
                <td>{{ moyen_dosage.id }}</td>
                <td>{{ moyen_dosage.nom }}</td>
                <td>{{ moyen_dosage.code }}</td>
                <td>{{ moyen_dosage.picto }}</td>
                <td>
                    <a href="{{ path('app_moyen_dosage_show', {'id': moyen_dosage.id}) }}">show</a>
                    <a href="{{ path('app_moyen_dosage_edit', {'id': moyen_dosage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_moyen_dosage_new') }}">Create new</a>
{% endblock %}
