{% extends 'base.html.twig' %}

{% block title %}MoyenDosage{% endblock %}

{% block body %}
    <h1>MoyenDosage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moyen_dosage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ moyen_dosage.nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ moyen_dosage.code }}</td>
            </tr>
            <tr>
                <th>Picto</th>
                <td>{{ moyen_dosage.picto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_moyen_dosage_index') }}">Retour a la liste</a>

    <a href="{{ path('app_moyen_dosage_edit', {'id': moyen_dosage.id}) }}">Modifier</a>

    {{ include('moyen_dosage/_delete_form.html.twig') }}
{% endblock %}
