{{ form_start(form) }}
    {{ form_row(form.tempsContact) }}
    {% if form.pictoFile is defined %}
        {{ form_row(form.pictoFile) }}
    {% elseif hide_picto|default(false) %}
        {{ form_widget(form.picto, {'type': 'hidden'}) }}
    {% else %}
        {{ form_row(form.picto) }}
    {% endif %}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
