{% extends 'base.html.twig' %}

{% block title %}Temps de contact{% endblock %}

{% block body %}
    <h1>Temps de contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temps_contact.id }}</td>
            </tr>
            <tr>
                <th>Temps de contact</th>
                <td>{{ temps_contact.tempsContact }}</td>
            </tr>
            <tr>
                <th>Picto</th>
                <td>
                    <img src="{{ asset('PictoTempContactPNG/' ~ temps_contact.id ~ '.png') }}" alt="Picto {{ temps_contact.tempsContact }}" style="max-height: 80px;">
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_temps_contact_index') }}">Retour a la liste</a>

    <a href="{{ path('app_temps_contact_edit', {'id': temps_contact.id}) }}">Modifier</a>

    {{ include('temps_contact/_delete_form.html.twig') }}
{% endblock %}
