{% extends 'base.html.twig' %}
{% block title %}Liste des clients
{% endblock %}
{% block body %}
	<div class="page-header">
		<h1>Liste des clients</h1>
		{% if app.user and is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_client_new') }}" class="btn btn-primary">+ Ajouter un client</a>
		{% endif %}
	</div>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Logo</th>
					<th>Nom client</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>
							{% if client.picto %}
								<img src="{{ asset('PictoClientsPNG/' ~ client.picto) }}" alt="{{ client.nom }}" style="max-height: 40px;">
							{% else %}
								-
							{% endif %}
						</td>
						<td>
							<a href="{{ path('app_client_show', {'id': client.id}) }}">{{ client.nom }}</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">
							<div class="empty-state">
								<p>Aucun client trouve</p>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
