{% extends 'base.html.twig' %}

{% block title %}Type de zone
{% endblock %}

{% block body %}
	<h1>Type de zone</h1>

	<p>
		<strong>Nom :</strong>
		{{ type_zone.nom }}</p>
	<p>
		<strong>Pictogramme :</strong>
	</p>
	{% if type_zone.picto %}
		<img src="{{ asset('uploads/pictos/' ~ type_zone.picto) }}" alt="{{ type_zone.nom }}" width="100">
	{% else %}
		<p>Aucun pictogramme</p>
	{% endif %}

	<hr>
	<a href="{{ path('app_type_zone_index') }}">Retour à la liste</a>
	<a href="{{ path('app_type_zone_edit', {'id': type_zone.id}) }}">Modifier</a>
	{{ include('type_zone/_delete_form.html.twig') }}
{% endblock %}
