{% extends 'base.html.twig' %}
{% block title %}Type de zone
{% endblock %}
{% block body %}
	<div class="page-header">
		<h1>{{ type_zone.nom }}</h1>
	</div>
	<div class="card">
		<ul class="info-list">
			<li>
				<span class="info-label">Nom :</span>
				<span>{{ type_zone.nom }}</span>
			</li>
			<li>
				<span class="info-label">Description :</span>
				<span>{{ type_zone.description ?? 'Aucune' }}</span>
			</li>
		</ul>
	</div>
	<div class="btn-group mt-3">
		<a href="{{ path('app_type_zone_index') }}" class="btn btn-secondary">Retour a la liste</a>
		<a href="{{ path('app_type_zone_edit', {'id': type_zone.id}) }}" class="btn btn-secondary">Modifier</a>
		{{ include('type_zone/_delete_form.html.twig') }}
	</div>
{% endblock %}
