{% extends 'base.html.twig' %}

{% block title %}Actions index{% endblock %}

{% block body %}
    <h1>Actions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Meo Produit</th>
                <th>Interventions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for action in actions %}
            <tr>
                <td>{{ action.id }}</td>
                <td>{{ action.meoProduit ? action.meoProduit.id : '' }}</td>
                <td>
                    {% if action.intervention is not empty %}
                        {{ action.intervention|length }} intervention(s)
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_actions_show', {'id': action.id}) }}">show</a>
                    <a href="{{ path('app_actions_edit', {'id': action.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_actions_new') }}">Create new</a>
{% endblock %}
