{% from '_macros/action_buttons.html.twig' import action_buttons %}
﻿{% extends 'base.html.twig' %}

{% block title %}Plage index{% endblock %}

{% block body %}
    <h1>Plage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HeureDebut</th>
                <th>Heure de fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plage in plages %}
            <tr>
                <td>{{ plage.id }}</td>
                <td>{{ plage.heureDebut ? plage.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ plage.heureFin ? plage.heureFin|date('H:i:s') : '' }}</td>
                <td>

                    {{ action_buttons('app_plage_show', 'app_plage_edit', plage.id) }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plage_new') }}">Creer</a>
{% endblock %}
