{% extends 'base.html.twig' %}

{% block title %}MeoProduit{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Mise en œuvre produit</h1>
        <a href="{{ path('app_meo_produit_new') }}" class="btn btn-success" style="font-size: 16px; padding: 10px 20px;">+ Créer</a>
    </div>

    <a href="{{ path('app_meo_produit_inactif') }}" class="btn btn-warning" style="margin-bottom: 15px;">Consulter les mises en œuvre désactivées</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code Meo produit</th>
                <th>Nom produit</th>
                <th>Nom contenant</th>
                <th>Nom moyen dilution</th>
                <th>Volume de Produit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meo_produit in meo_produits %}
            <tr>
                <td>{{ meo_produit.id }}</td>
                <td>
                {{
                    (meo_produit.produit ? meo_produit.produit.code : '')
                    ~ '.0' ~
                    (meo_produit.contenant ? meo_produit.contenant.id : '0')
                    ~ '.' ~
                    (meo_produit.moyenDosage ? meo_produit.moyenDosage.code : '00')
                }}
                </td>
                <td>{{ meo_produit.produit ? meo_produit.produit.nom : '-' }}</td>
                <td>{{ meo_produit.contenant ? meo_produit.contenant.nom : '-' }}</td>
                <td>{{ meo_produit.moyenDosage ? meo_produit.moyenDosage.nom : '-' }}</td>
                <td>{{ meo_produit.volumeProduit }}</td>
                <td>
                    <a href="{{ path('app_meo_produit_show', {'id': meo_produit.id}) }}">Afficher</a>
                    <a href="{{ path('app_meo_produit_edit', {'id': meo_produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
