{% extends 'base.html.twig' %}

{% block title %}Consulter un contrat{% endblock %}

{% block body %}
    <h1>Consulter un contrat</h1>

    <p><strong>Nom client :</strong> {{ contrat.sitesClient.client.nom }}</p>
    <p><strong>Nom site :</strong> {{ contrat.sitesClient.nom }}</p>
    <p><strong>Numéro de contrat :</strong> {{ contrat.numero }}</p>

    <a href="{{ path('app_zones_client_new', {'site_id': contrat.sitesClient.id}) }}">Ajouter une zone</a>

    {% for zone in contrat.sitesClient.zonesClients %}
        <hr>
        <h2>Nom zone client : {{ zone.nom }}</h2>
        <p><em>Type : {{ zone.typeZone.nom }}</em></p>

        <h3>Supports :</h3>
        <ul>
            {% for support in zone.supportsClient %}
                <li>{{ support.typeSupport.nom }}</li>
            {% else %}
                <li>Aucun support</li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_zones_client_edit', {'id': zone.id}) }}">Modifier une zone</a>
    {% else %}
        <p>Aucune zone pour ce site</p>
    {% endfor %}

    <hr>
    <a href="{{ path('app_client_show', {'id': contrat.sitesClient.client.id}) }}">Retour au client</a>
    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">Modifier</a>
    {{ include('contrat/_delete_form.html.twig') }}

    <section class="dashboard-actions">
    <a class="dashboard-action" href="{{ path('app_intervention_new', {'contrat_id': contrat.id}) }}">
        <strong>Ajouter une intervention</strong>
        <span>Créer une nouvelle intervention pour {{ contrat.sitesClient.client.nom }}, {{ contrat.sitesClient.nom }}, pour le contrat {{ contrat.numero }}.</span>
    </a>
    </section>
{% endblock %}