{% from '_macros/action_buttons.html.twig' import action_buttons %}
﻿{% extends 'base.html.twig' %}

{% block title %}Vigilance index{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Vigilances</h1>
        <a href="{{ path('app_vigilance_new') }}" class="btn btn-success" style="font-size: 16px; padding: 10px 20px;">+ Créer</a>
    </div>

    <a href="{{ path('app_vigilance_inactif') }}" class="btn btn-warning" style="margin-bottom: 15px;">Consulter les vigilances désactivées</a>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 50px;">Id</th>
                <th style="width: 100px;">Picto</th>
                <th>Definition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vigilance in vigilances %}
            <tr>
                <td>{{ vigilance.id }}</td>
                <td><img style="width: 60px; height:auto;" src="../public/PictoVigilancePNG/{{vigilance.id}}.png"></td>
                <td>{{ vigilance.definition }}</td>
                <td>

                    {{ action_buttons('app_vigilance_show', 'app_vigilance_edit', vigilance.id) }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
