{% extends 'base.html.twig' %}

{% block title %}Vigilance #{{ vigilance.id }}{% endblock %}

{% block body %}
    <h1>Détails de la Vigilance #{{ vigilance.id }} {{ include('vigilance/_deactivate_form.html.twig') }}</h1>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Informations</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ vigilance.id }}</td>
                    </tr>
                    <tr>
                        <th>Definition</th>
                        <td>{{ vigilance.definition }}</td>
                    </tr>
                    <tr>
                        <th>Picto</th>
                        <td><img style="width: 60px; height:auto;" src="../PictoVigilancePNG/{{vigilance.id}}.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3">
        <a href="{{ path('app_vigilance_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_vigilance_edit', {'id': vigilance.id}) }}" class="btn btn-primary">Modifier</a>
    </div>
{% endblock %}
