{% extends 'base.html.twig' %}

{% block title %}Reutilisable{% endblock %}

{% block body %}
    <h1>Reutilisable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reutilisable.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reutilisable.nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ reutilisable.code }}</td>
            </tr>
            <tr>
                <th>Picto</th>
                <td>{{ reutilisable.picto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reutilisable_index') }}">back to list</a>

    <a href="{{ path('app_reutilisable_edit', {'id': reutilisable.id}) }}">edit</a>

    {{ include('reutilisable/_delete_form.html.twig') }}
{% endblock %}
