{% extends 'base.html.twig' %}

{% block title %}Contenant{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Contenant</h1>
        <a href="{{ path('app_contenant_new') }}" class="btn btn-success" style="font-size: 16px; padding: 10px 20px;">+ Créer</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>VolumeEau</th>
                <th>Picto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenant in contenants %}
            <tr>
                <td>{{ contenant.id }}</td>
                <td>{{ contenant.nom }}</td>
                <td>{{ contenant.volumeEau }}</td>
                <td>{{ contenant.picto }}</td>
                <td>
                    <a href="{{ path('app_contenant_show', {'id': contenant.id}) }}">Afficher</a>
                    <a href="{{ path('app_contenant_edit', {'id': contenant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
