{% extends 'base.html.twig' %}

{% block title %}ElementSecurite index{% endblock %}

{% block body %}
    <h1>ElementSecurite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Picto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for element_securite in element_securites %}
            <tr>
                <td>{{ element_securite.id }}</td>
                <td>{{ element_securite.nom }}</td>
                <td>{{ element_securite.picto }}</td>
                <td>
                    <a href="{{ path('app_element_securite_show', {'id': element_securite.id}) }}">Afficher</a>
                    <a href="{{ path('app_element_securite_edit', {'id': element_securite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_element_securite_new') }}">Creer</a>
{% endblock %}
